.profile-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.profile-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input-group-custom {
  display: flex;
  align-items: stretch;
  width: 100%;

  .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-body);
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-sm);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
    flex: 1 1 auto;
  }
}

.border-danger {
  border-color: var(--danger) !important;
}

.bg-danger {
  background-color: var(--danger) !important;
}

.bg-white {
  background-color: rgb(255, 255, 255) !important;
}

.p-0 {
  padding: 0 !important;
}